.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 150px;
  max-width: 350px;
  width: max-content;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;

  font-weight: normal;
  font-size: 1em;
  text-wrap: wrap;
  
  /* default to bottom */
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom .tooltiptext {
  inset: 125% auto auto auto;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-top .tooltiptext {
  inset: auto auto 125% auto;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left .tooltiptext {
  inset: auto 125% auto auto;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-right .tooltiptext {
  inset: auto auto auto 125%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  
  /* default to bottom */
  inset: auto auto 100% auto;
  left: 50%;
  margin: 0 0 0 -5px;
  border-color: transparent transparent #555 transparent;
}

.tooltip-bottom .tooltiptext::after {
  inset: auto auto 100% auto;
  left: 50%;
  margin: 0 0 0 -5px;
  border-color: transparent transparent #555 transparent;
}

.tooltip-top .tooltiptext::after {
  inset: 100% auto auto auto;
  left: 50%;
  margin: 0 0 0 -5px;
  border-color: #555 transparent transparent transparent;
}

.tooltip-left .tooltiptext::after {
  inset: auto auto auto 100%;
  top: 50%;
  margin: -5px 0 0 0;
  border-color: transparent transparent transparent #555;
}

.tooltip-right .tooltiptext::after {
  inset: auto 100% auto auto;
  top: 50%;
  margin: -5px 0 0 0;
  border-color: transparent #555 transparent transparent ;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-title {
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-bottom: 0.5em;
}

.tooltip ul {
  padding-inline-start: 1.5em;
  text-indent: -0.5ch;
  margin-block: 0em;
}

.tooltip p {
  margin-block: 0em;
}