#poke-search {
    width: 50%;
    margin: 0 auto;
}

#poke-search-box {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 100%;
    text-align: center;
    border: 0;
    border-bottom: 1px solid var(--col-off);
}

#suggestions {
    width: 100%;
    background: rgba(255,255,255,0.95);
    margin-top: 0;
    text-align: left;
    z-index: 1;
}

#move-search {
    font-size: 2em;
    width: 15ch;
}

.plus-button {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    right: -2em;
    padding: 0;
    font-weight: bold;
}

.move-input-popup:has(#move-search) {
    position: absolute;
    z-index: 5;
    top: 0;
}

.move-input-popup > #suggestions {
    font-weight: normal;
}

#pokemongo-add-any {
    display: none;
}

#suggestions .poke-number {
    margin-right: 5px;
    text-align: left;
}



.autoComplete_wrapper {
    position: relative;
}

.autoComplete_wrapper > table {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1000;
    outline: none;
    border: 1px solid var(--col-off);
}

.autoComplete_wrapper > table > tr {
    list-style: none;
    text-align: left;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
}

.autoComplete_wrapper > table > tr > td {
    padding: 0;
}

.autoComplete_wrapper > table > tr > td:first-child {
    padding-left: 6px;
}
.autoComplete_wrapper > table > tr > td:last-child {
    padding-right: 6px;
}
.autoComplete_wrapper > table > tr > td.poke-search-name {
    padding-left: 6px;
    width: 100%;
    text-align: left;
}

.autoComplete_wrapper > table > tr::selection {
    color: rgba(#ffffff, 0);
    background-color: rgba(#ffffff, 0);
}

.autoComplete_wrapper > table > tr:hover {
    cursor: pointer;
    background-color: rgba(123, 123, 123, 0.1);
}

.autoComplete_wrapper > table > tr mark {
    background-color: transparent;
    color: #5d84b1;
    font-weight: bold;
}

.autoComplete_wrapper > table > tr mark::selection {
    color: rgba(#ffffff, 0);
    background-color: rgba(#ffffff, 0);
}

.autoComplete_wrapper > table > tr[aria-selected="true"] {
    background-color: rgba(123, 123, 123, 0.4);
}

@media only screen and (max-width: 600px) {
    .autoComplete_wrapper > input {
        width: 18rem;
    }
}