.darkmode {
    --col-bg: #0b0b28;
    --col-main: White;
    --col-so-off: #343434;
    --col-alt-bg: #222;
    --col-bar-bg: #606060;
    --col-bar-fg: #1c497d;

    .table-bg tr:not(.table-header):nth-of-type(odd) { background-color: var(--col-alt-bg); }
    .table-bg tr:not(.table-header):nth-of-type(even) { background-color: var(--col-so-off); }

    .type-text { 
        text-shadow: 1px 1px 2px black;
        /*text-transform: uppercase;*/
    }
    #strongest-table .type-text { 
        text-transform: none;
    }
    .bg-Dark { background-color: rgb(56, 44, 36); }

    .ascii-bar { color: #aaa; }

    input { 
        color: inherit;
        background-color: var(--col-so-off);
    }

    #suggestions {
        background-color: rgba(20,20,20,0.8);
    }

    .selected-suggestion {
        background-color: rgba(255,255,255,0.1);
    }

    label.togglebutton {
        background-color: #505050;
    }

    .switch {
        --color-handle: #bbb;
        --color-grey: var(--col-bar-bg);
        --color-green: var(--col-bar-fg);
    }

    #strongest-header {
        border-radius: 20px 20px 0 0;
    }

    .table-bg th:first-child {
        border-radius: 20px 0 0 0;
    }
    .table-bg th:last-child {
        border-radius: 0 20px 0 0;
    }

    #poke-search-box {
        font-size: 1.5em;
    }

    span.strongest-name {
        text-decoration: none;
    }

    #note-body p:not(:last-child) {
        margin-bottom: 1em;
    }


    .bar-bg {
        background-color: transparent;
        border: 0px;
    }

    .bar-fg {
        background-color: var(--col-bar-fg);
    }

    .suboptimal .bar-fg {
        background-color: #0f3057;
    }

    .scroll-portal {
        flex-basis: 2%;
    }

    #additional-containers::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #252525;
        margin: 0 2%;
    }

    #additional-containers::-webkit-scrollbar
    {
        background-color: #252525;
        height: 10px;
    }

    #additional-containers::-webkit-scrollbar-thumb
    {
        background-color: #000000;
        border: 2px solid #555555;
    }
}