<h1>About DialgaDex</h1>
<div class="card article" id="contact">
    <div class="card-header">
        <div class="card-title">Contact Info</div>
    </div>
    <div class="card-body">
        <p>If you have any questions, suggestions, bug reports, or feedback, please 
            <a target="_blank" href="https://old.reddit.com/message/compose?to=Mikegrann&subject=About%20DialgaDex">send me a PM on Reddit</a>. 
            Please do not use the Reddit "Chat" feature as it doesn't notify me properly, meaning your message will likely go unseen.</p>
        <p>You can also submit issues or pull requests via the <a target="_blank" href="https://github.com/mgrann03/dialgadex">Github Repo</a>.</p>
    </div>
</div>
<div class="card article" id="credits">
    <div class="card-header">
        <div class="card-title">Credits and References</div>
    </div>
    <div class="card-body">
        <h4>The following articles are key to how DialgaDex calculates its metrics:</h4>
        <ul>
            <li><a target="_blank" href=https://gamepress.gg/pokemongo/damage-mechanics>Damage Mechanics</a> from GamePress</li>
            <li><a target="_blank" href=https://gamepress.gg/pokemongo/how-calculate-comprehensive-dps>Comprehensive DPS</a> by bioweapon</li>
            <li><a target="_blank" href=https://www.reddit.com/r/TheSilphRoad/comments/z3xuzc/analysis_legendarymythical_signature_moves>ER (Equivalent Rating)</a> by /u/Elastic_Space</li>
            <li><a target="_blank" href=https://www.reddit.com/r/TheSilphRoad/comments/135nz6o/analysis_improving_pve_overall_theoretical_metric>EER (Estimator Equivalent Rating) and TER (Time Equivalent Rating)</a> by /u/Elastic_Space</li>
            <li><a target="_blank" href=https://www.reddit.com/r/TheSilphRoad/comments/1irq4rt/analysis_edps_a_new_theoretical_metric_for_raid>eDPS (Effective DPS)</a> by /u/Mikegrann</li>
        </ul>
        <h4>Media credits:</h4>
        <ul>
            <li>Effectiveness and Shadow icons adapted from <a target="_blank" href=https://game-icons.net>Game-Icons.net</a>, with some minor modifications.</li>
            <li>Additional site icons adapted from <a target="_blank" href=https://www.svgrepo.com>SVG Repo</a>, with some minor modifications.</li>
            <li>Pokémon images/gifs from <a target="_blank" href=https://pokemonshowdown.com>Pokémon Showdown</a> and <a target="_blank" href=https://pokeminers.com>PokéMiners</a>.</li>
        </ul>
        <h4>Programming credits:</h4>
        <ul>
            <li><a target="_blank" href=https://palkiadex.com>PalkiaDex</a> is the <a target="_blank" href=https://github.com/javi-b/palkiadex>open-source</a> website that forms the original codebase for this project.</li>
            <li><a target="_blank" href=https://github.com/TarekRaafat/autoComplete.js>autoComplete.js</a> is used for search suggestions.</li>
            <li><a target="_blank" href=https://github.com/simple-statistics/simple-statistics>Simple Statistics</a> provides the Javascript implementation of the Jenks algorithm.</li>
        </ul>
        <h4>Special thanks to:</h4>
        <ul>
            <li><a target="_blank" href=https://javibonafonte.com>Javi Bonafonte</a> for developing PalkiaDex, which was the original codebase for this fork.<br/>
                Please consider supporting him via <a target="_blank" href=https://ko-fi.com/javibonafonte>Ko-fi</a>.</li>
            <li><a target="_blank" href=https://www.reddit.com/user/Flyfunner>/u/Flyfunner</a>, <a target="_blank" href=https://www.reddit.com/user/bmenrigh>/u/bmenrigh</a> and their full research team for investigating the mechanics of raid battles.</li>
            <li><a target="_blank" href=https://pokeminers.com>PokéMiners</a> for providing the game data.</li>
            <li><a target="_blank" href=https://www.chasenlee.com>Chasen Less</a> for feedback and collaboration on the user interface.</li>
            <li>Wujek for the French translation.</li>
        </ul>
    </div>
</div>
<div class="card article" id="privacy">
    <div class="card-header">
        <div class="card-title">Privacy Policy</div>
    </div>
    <div class="card-body">
        <p>DialgaDex does not directly process or store any personally identifiable information. The website uses no analytics, no cookies, etc.</p>
        <p>DialgaDex is hosted by GitHub Pages. As a natural consequence of hosting web servers, GitHub may collect personal information such as logging
            the IP addresses of visitors. For more information about what may or may not be collected, please refer to the
            <a target="_blank" href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement">GitHub Privacy Statement</a>.
        </p>
    </div>
</div>