<h1>Frequently Asked Questions</h1>
<p>This page collects answers to some of the most common questions I receive or see on Reddit
    related to DialgaDex. Most of this information (and more) is already available elsewhere
    on the site via footnotes and tooltips, or is answered in some of the linked reference pages.
    If you don't find your answer in this FAQ, try looking in one of those places.</p>
<p>If you still can't find an answer to your question, consider asking for help on Reddit or
    contacting me directly.</p>
<details class="card article">
    <summary class="card-header">
        <div class="card-title">Evaluating Pokémon</div>
    </summary>
    <div class="card-body">
        <h3>How do I decide if my Pokémon is good?</h3>
        <p>This is a massive question, and it's the main reason DialgaDex exists. There are plenty
            of factors that go into determining which Pokémon are good in raids, and many of these
            factors aren't visible at all in-game. Here are a few ways of evaluating your Pokémon
            using the tools available on this website.</p>
        <p>First and foremost, anything in the higher tiers of the overall "All-type" attacker ranking 
            is obviously going to be useful. These are some of the absolute strongest Pokémon in the
            game, many of which are so powerful that you could use them to some degree of success
            regardless of the context (weather, party size, type effectiveness). These so-called
            "generalists" are always valuable, and only grow more powerful in the specific niches
            where they shine brightest.</p>
        <p>You can also go to your Pokémon's PokéDex page (either by clicking on the Pokémon or 
            searching for them at the top of the page). There, your Pokémon's tier rankings are listed
            for all of its attack types (including attacks that don't even match the Pokémon's types.)</p>
        <p>You can also consult the "type" rankings for each type of your Pokémon. For example,
            if you're evaluating Garchomp you should consider both the Ground-type and Dragon-type
            rankings to see how valuable he is in each situation.</p>
        <p>As an alternative, you can (and usually should) consider the "counter" rankings for types
            that are weak against your Pokémon. To continue our example, a Ground-type like Garchomp
            will show up on the Steel-counters ranking. These lists are especially valuable because
            they help capture the overlap between different types. While Garchomp is a very good
            Ground-type, he has strong competition from Fighting- and Fire-types when facing Steel-type
            raid bosses. These "counter" rankings are one of the best ways to cross-reference all the
            different ranking lists in one place.</p>
        <p>To access the "counter" rankings for a type, go to that type's attacker ranking list (click
            on "Attacker Rankings" in the dropdown menu in the site header, then select the type at the
            top of the page). From there, click on the highlighted "Attackers" button in the header to
            toggle from "Strongest X-type Attackers" to "Strongest X-type Counters."</p>
        <p class="sidenote">(Can't remember what types your Pokémon is good against? Use the Type Chart to
            quickly find out! Clicking on any of the attacking types (left side of the table) will bring you
            to that type's ranking. Clicking on any of the defending types (top of the table) will bring you 
            to that type's "counters" ranking.)</p>
        <h3>What should I use to compare two Pokémon's rankings?</h3>
        <p>While the exact eDPS for each Pokémon is the most accurate point of comparison, it can be a little
            misleading. eDPS is a stand-in for real world results, and it implies more precision than it
            can actually achieve, as real raids are full of volatile, random probabilities. For this reason,
            DialgaDex assigns each ranking result a "tier" level. Any Pokémon in the same tier are likely to
            perform relatively similarly in the real world. Within any one tier, IVs, boss movesets, unique
            tempo and energy interactions, and plain random chance are going to take over. So Pokémon should
            be judged primarily by where they appear in these "tiers", not their exact position in the
            ranking. There's nothing magical about placing one Pokémon at rank 9 and another at rank 10 if
            both of them have very similar eDPS (say, within about ~5% of each other).</p>
        <h3>How do I find the best moveset for my Pokémon?</h3>
        <p>On your Pokémon's PokéDex page, the "movesets" area shows the strength of each of it's movesets.
            Both the fast and charged move are important, as they each depend on the other to perform
            optimally. Some charged moves want to be paired with fast moves that generate a lot of energy,
            while others are okay being combined with fast moves that prioritize damage. Make sure to TM
            both moves onto your Pokémon, as they only work properly when combined properly.</p>
        <p>This area only gives the best moves against a generic stand-in enemy, with no super-effective
            type bonuses being applied. Usually you'll want your moves to both be super-effective against
            whatever boss you're facing, so prioritize movesets where both types match.</p>
        <p>You can also look up your Pokémon in the various ranking lists to see what moveset is recommended.
            If you know the specific raid boss you'll be facing, you can also check that boss's counters
            (preferrably using a simulator) to see what movesets are best against that boss.</p>
        <h3>How do I decide if my Pokémon has good enough IVs ("Appraisal")?</h3>
        <p>In order to check how your specific Pokémon's IVs stack up, go to the "Stats, IVs, and CP" area on
            its PokéDex page. There you can enter your exact IVs and level. When you click "Calculate", the
            "Effective Stats" of your Pokémon will be displayed, as well as a comparison between your Pokémon
            and a perfect "hundo" at the same level. The most important stat to look at is "Percent of Perfect
            eDPS", which represents the performance difference in real raids. (You'll notice that this also
            updates the "movesets" area with real DPS values for your specific Pokémon.)</p>
        <p>IVs are usually overemphasized by the Pokémon Go community. In order, usually it's most important
            to have the best Pokémon species, then second most important to have the correct moves, then
            least important to have the best IVs.</p>
        <p>In most circumstances, a perfect 15/15/15 IV Pokémon is only going to be 5-10% better than the
            very worst 0/0/0 IV version of that same species and moveset. Most worthwhile attackers are also
            obtained from raids, which guarantee at least 10/10/10 minimum IVs. The difference between this
            "minimum" raid-reward Pokémon and a "hundo" is usually more like 3%. So while you should generally
            prioritize the highest-IV Pokémon you have (especially the attack IV, which is the most relevant
            for raids), the difference usually isn't significant enough to fret over.</p>
        <p>Similarly, even the very worst 0/0/0 IV shadow version of a Pokémon is usually around 5% better
            than a "hundo" of the non-shadow version. This means any shadow Pokémon is usually an upgrade
            over its pure form. Do not purify a shadow Pokémon to use in raids. The only except is purifying it 
            in order to have a high-IV Pokémon to Mega-evolve. Even in this scenario, usually it's better to
            hold on to the shadow version, which will be useful on its own, and find a different already-pure
            Pokémon to Mega-evolve instead.</p>
        <h3>How do I figure out whether I have any of the top-tier Pokémon in-game?</h3>
        <p>On any of the ranking lists, click on the search icon (magnifying class with three dots) to open the
            Search String Generator. This tool will take the data being displayed in the list, and transform
            it into a search string compatible with Pokémon Go. Just copy the displayed search string, and paste
            it into the search window in your app to filter down your list of owned Pokémon.</p>
        <p>By default the search string will only look for the correct species of Pokémon, but there are additional
            options you can enable to search for moves as well. It's recommended that you only search for "elite"
            moves (those that require an Elite TM or a limited-time event to obtain), as any other moves can easily
            be swapped using regular TMs.</p>
        <p>The search string will include all Pokémon of a certain tier ranking or better. You can select what tiers
            should be included. Generally, anything ranked A-tier or better is very usable in raids.</p>
        <p>Sometimes, due to limitations in how Pokémon Go implemented its search function and the exact generator
            settings you're using, the resulting search string might not be able to perfectly match what is shown
            in the ranking list. For instance, there is no direct way to differentiate between two forms of the same 
            species with the exact same typing - such as Dialga's Altered and Origin forms. In those cases, the
            generator tool attempts to identify any possible inaccuracies and display them so you can double check
            whether you are affected.</p>
    </div>
</details>
<details class="card article">
    <summary class="card-header">
        <div class="card-title">Settings and Options</div>
    </summary>
    <div class="card-body">
        <h3>How can I tweak the parameters used in these calculations?</h3>
        <p>Most of the calculation settings are available in the settings dropdown in the site header.
            This is where you can set the parameters in the eDPS formula: Raid Team Size and Relobby Time.
            It also allows you to enable party power, including customizing how many players are in your
            party raiding together.</p>
        <p>These settings apply site-wide and affect all calculations found on both the PokéDex pages and
            the ranking lists.</p>
        <h3>What if I don't have the top Pokémon - how do I find "budget" options?</h3>
        <p>Whether it's a lack of stardust and candy, lack of Elite TMs, having missed a time-limited
            raid/event/research, etc. there are many reasons why you might not be able to access the very
            best of the best attackers. The settings for the ranking lists (and "counters" list on a boss's
            PokéDex page) have some helpful tools for finding more accessible replacements.</p>
        <p>The biggest tool is the Species filter, which allows you to remove Mega, shadow, and legendary
            Pokémon. Most of the remaining attackers are reasonably available. Often they'll be a rarer
            spawn, typically something featured in an event, but they're reasonably likely to be available 
            as a wild catch right now. Many of these Pokémon are still very good options, even if they're a
            clear tier or two below the top. Target these while you wait to have the resources or access to
            better Pokémon. At that point, they'll still be useful for filling out the rest of your raid team.</p>
        <p>There are also useful Move Filters. If you're looking for true "budget" picks, you can disable
            Elite Moves to find Pokémon whose movesets won't require an Elite TM. Often these are the same
            species, just with slightly worse moves. In order to compare how much of a difference the Elite TM
            would make, you can enable "Suboptimal Moves." This will show up to the top 5 movesets per species,
            and the performance of those worse moves as compared to the very best moveset for that species.</p>
        <p>You can also increase the length of the table with the "Row Count" settings, allowing you to see
            more Pokémon and movesets. While Pokémon further down the list will naturally be worse, usually
            their performance drops off pretty slowly. For example, the gap between the #1 best Fire-type 
            attacker and the 20th best Fire-attacker is roughly the same as the gap to the 90th best, meaning
            there are many roughly-equivalent options in the lower tiers.</p>
        <h3>What are the "Tiers" and "Baseline" settings doing?</h3>
        <p>The "Tiers" setting determines how Pokémon get grouped into the different tier rankings. Everything
            on DialgaDex is calculated dynamically (in fact, it's all calculated directly in your web browser),
            and tiers are no exception. This helps remove bias from the tier-making process. Still, there are
            a few different ways of building tiers, each with its own motivation and advantages.</p>
        <p>The Jenks and ESpace methods both rely on choosing a reference "Baseline" Pokémon as a point of
            comparison. This Pokémon is placed around the A-tier, then all other Pokémon are ranked relative to it.
            There are different ways of selecting this "Baseline." The default "Budget" method looks for the
            best highly-available option (which excludes things like Megas, shadows, and legendaries).
            The ESpace method - which is designed to be used alongside the ESpace tiers option - looks for the
            best reasonably-available option (which excludes most limited Pokémon but includes things like
            most shadows and most legendaries). The "Best" method just picks the very best option, without any
            further filtering.</p>
        <p>From here, the tier-making setting takes over. "Jenks" uses an optimization algorithm to find the best
            places to split the results into a new tier. It is sometimes called the "Natural Breaks" algorithm,
            because it tries to place these splits where there are already gaps in the data, very similar to how
            a human would "naturally" define a tier-break if they were doing it by hand. "ESpace" uses a strict
            rule that every tier should be 10% wide, meaning A-tier would contain everything from 5% worse to 
            5% better than the reference Pokémon, B-tier would be from 15% worse to 5% worse, and so on.</p>
        <p>"Absolute" tier-making is slightly different. Instead of looking at the context and always searching
            for a new point of reference, it has defined "absolute" breakpoints for what eDPS values correspond
            to which tiers. This makes it very effective for comparing performance across multiple different type
            rankings (exposing, for instance, that even the very best Poison types are still very weak relative
            to other types). However, this lacks context - in the rare case where you need a Poison type, even
            an otherwise-mediocre option will look S-tier.</p>
        <h3>Why isn't there a setting to see the best counters against two types?</h3>
        <p>Generally speaking, very few Pokémon (and even fewer high-difficulty raid bosses worth considering)
            share a dual-type combination. At the point where you're looking to find the best counters against 
            a specific type combination, you're probably looking to find the best counters against a specific
            raid boss. If you're looking for counters against a specific raid boss, you should go there directly
            instead of checking a generic ranking list, because other factors like the boss's stats and movesets
            become important.</p>
        <p>For example, if you're looking to find the best counters against a Ground/Fire-type, you're probably
            actually looking for the best counters against Primal Groudon. In that case, it's important to know that
            Groudon has access to Solar Beam, which means Water-type counters generally underperform against it 
            (compared to normal rankings) and certain Pokémon like Golisopod are uniquely equipped against it
            (due to Bug's helpful resistance to both Grass- and Ground-type damage).</p>
        <h3>Why aren't my settings saved between visits?</h3>
        <p>This feature is on the roadmap, but has not yet been released.</p>
    </div>
</details>
<details class="card article">
    <summary class="card-header">
        <div class="card-title">Calculation Method</div>
    </summary>
    <div class="card-body">
        <h3>What is eDPS?</h3>
        <p>eDPS is short for "Effective" DPS. It is calculated using a combination of TDO and DPS,
            and represents the actual long-term DPS a Pokémon is expected to do. It accounts for the 
            time wasted dying and relobbying, time during which no damage is being done. It should be
            considered the successor to previous performance metrics like ER, EER, and TER.</p>
        <p>For more details about eDPS, check out the original article outlining the measure, its 
            motivation, and its advantages over existing metrics.</p>
        <h3>How is DPS calculated?</h3>
        <p>DPS and TDO are calculated using the Comprehensive DPS Formula. DialgaDex has some tweaks to
            the original formula, including:</p>
        <ul>
            <li>A new formula for estimating y (incoming DPS from the raid boss) more accurately</li>
            <li>An updated (higher) "generic" value for y based on results from this new formula and 
                cross-referenced against simulations</li>
            <li>A new formula for estimating x (energy wasted upon death) more accurately by taking into
                account the energy gained and wasted in the final "killing blow"
            </li>
        </ul>
        <h3>How is Party Power calculated?</h3>
        <p>In Pokémon Go, party power will double the damage of the next charged attack after it gets
            activated. Party power build based on the number of fast attacks you personally use,
            regardless of what your party members are doing. The number of fast attacks required to fully
            build party power depends on the size of your party: 18 attacks for a duo, 9 for a trio, and
            6 for a quad. In order to best utilize party power, you want your ratio of fast-to-charged attacks
            to perfectly match these values. This prevents any extra fast moves being required to fully
            charge a charged move when party power is already active, and prevents any extra fast moves being
            required to fully build party power when a charged move is already charged.</p>
        <p>The Comprehensive DPS Formula already calculates a Pokémon's expected number of fast and charged
            attacks. From there, we can compare this ratio against the desired optimal ratio to see how
            frequently party power will be active and boosting charged move damage. (This method is rough and
            only applies in the long-term, e.g. over the span of an entire raid. If the opposing raid boss
            is known, then exact interactions with incoming damage are best captured using a simulator.)</p>
    </div>
</details>
<details class="card article">
    <summary class="card-header">
        <div class="card-title">Calculation Accuracy</div>
    </summary>
    <div class="card-body">
        <h3>Why don't these metrics match other websites?</h3>
        <p>DialgaDex uses the latest, most up-to-date calculation methods possible. While the basic 
            formula for calculating DPS and TDO is very similar, this site incorporates multiple 
            tweaks to improve on the original work.</p>
        <p>The most notable change involves incoming damage from raid bosses. Old calculations
            significantly underestimated how quickly your Pokémon would die. This had a ripple effect,
            resulting in poor estimates for wasted energy. DialgaDex uses an updated method for
            estimating incoming damage from bosses, which results in about a 50% higher final value.
            Ultimately, this means "glass cannons" (high DPS, frail Pokémon) are typically lower
            rated on this website.</p>
        <p>An additional change further improves the estimate for wasted energy. By recognizing that
            energy waste includes both the energy you had when you died and the energy you received
            from the final "killing blow," DialgaDex calculates lower overall energy efficiency. This
            especially penalizes movesets with energy-hungry 1-bar attacks.</p>
        <p>DialgaDex is also the only website currently using the latest metric, eDPS. This metric
            reflects real game mechanics instead of relying on statistical modeling. It can handle
            new scenarios like "solos" (fighting with just a single attacker). And it has been
            validated against simulations as more accurate than any previous metrics.</p>
        <h3>Why doesn't the list of counters match simulations?</h3>
        <p>While DPS calculations are fairly accurate, they still have their limits. There are
            some nuances related to the tempo of attacks (from both your team and the raid boss)
            which cannot be fully captured by our DPS formula. For this reason, DialgaDex is best
            used to gauge the overall effectiveness of your Pokémon instead of the performance
            against any one specific raid boss.</p>
        <p>For the most accurate list of raid counters, please consult PokéBattler instead.</p>
        <h3>Why don't the values shown in the ranking tables match the ones in the PokéDex?</h3>
        <p>For most of the rankings (anything besides the overall "All" types and "Each" type lists),
            the DPS calculation includes a super-effective type multiplier. For example, the Fire-type
            attackers list applies a 1.6x damage multiplier for Fire-type attacks. The Fire-type 
            counters list applies a 1.6x damage multiplier for Water-, Rock-, and Ground-type
            attacks (everything super-effective against a Fire-type Pokémon).</p>
        <p>For overall rankings and PokéDex pages, there is no super-effective multiplier. DPS is
            calculated as if you were fighting a completely typeless enemy.</p>
        <p>If the Type Affinity setting is enabled, instead of the damage multipliers outlined above,
            calculations take into account the average multipliers across a relevant selection of real,
            high-tier raid bosses. This means e.g. that Flying-type attacks will be marginally boosted
            when viewing the Psychic-type rankings, as many of the raid bosses that are weak to Psychic
            damage (e.g. Fighting-types) are also vulnerable to Flying damage. Similarly, Fire-type is
            boosted on the Flying-type rankings, because many of the targets (Bug and Grass types) overlap.</p>
        <p>If the Type Affinity setting is enabled, the exact values used for the average boss's weakness
            (multiplier on incoming damage) and damage mix (types of damage being dealt by the boss) are
            visible in the footnotes.</p>
        <p><i>Note that quirks of the damage formula in Pokémon Go mean that a 1.6x super-effective
            multiplier isn't the same as a 1.6x multiplier on damage. The values in one area will
            be roughly 1.6x those in the other area, but the exact ratio is usually closer to 1.5-1.59x</i></p>
    </div>
</details>
<details class="card article">
    <summary class="card-header">
        <div class="card-title">Modifying the Game Data</div>
    </summary>
    <div class="card-body">
        <h3>Why aren't any of my modifications saved?</h3>
        <p>Each time the page is loaded, all game data (species, moves, stats, etc.) are freshly
            loaded from the Game Master. Any modifications you make will only be active in this
            same window. If you navigate away from the website (or open a new tab, or refresh the
                page), all the game data is reloaded and your modifications will be lost.</p>
        <p>DialgaDex is designed to always keep you in the same session while using the website so
            your modifications aren't lost during normal browsing.</p>
        <h3>How do I preview announced-but-unimplemented changes?</h3>
        <p>In the site settings (accessible via the header), there's an option to preview "speculative"
            changes to the game data. These changes are already announced officially, but haven't yet
            made it into the Game Master because they haven't yet been added to the game. Such changes
            include releases of new Pokémon species or forms, releases of the shadow form for a Pokémon,
            and modifications to the moves a Pokémon can learn.</p>
        <p>By default this setting is enabled so that upcoming releases can easily be previewed and shared.
            You can disable these changes in order to show only the currently-available data.</p>
        <h3>How do I add new moves to a Pokémon?</h3>
        <p>On the Pokémon's dex page, scroll to the "movesets" area. In the header, you can press
            the Edit (pencil) button to open the learnset editor.</p>
        <p>To add a new move, go to the correct area (fast or charged move) and start typing the name
            of the move you're looking for into the search box, then select it from the displayed options.</p>
        <p>To delete a move (either from the Pokémon's real learnset, or a move you added), find it in
            the current move list and press the red X to delete it.</p>
        <h3>How do I view/edit the attributes for a move?</h3>
        <p>Anywhere a move is displayed on DialgaDex (in the ranking lists, on a dex page, in the move list, 
            etc.) you can click on that move to open the move data editor popup. There, you can easily view
            and modify any of the move's attributes, including its type, power, energy, and duration.</p>
        <h3>How do I add a new move that doesn't yet exist in the Game Master?</h3>
        <p>On the move data page, click the Edit (pencil) button in the table header to open the move data
            editor popup. In this window you can define all the data attributes for your new move, then click
            the "Add" button to submit this move data.</p>
        <p>After this, you'll likely want to make your new move learnable by some Pokémon. This can be done
            from that Pokémon's dex page, as described above.</p>
        <h3>How do I release the shadow version of a Pokémon?</h3>
        <p>On the Pokémon's dex page, scroll to the top where you find the Pokémon's name and image.
            Next to the Pokémon's name is a purple, flame-like "Shadow" icon. Clicking on this icon
            will toggle whether the shadow version of this species/form has been released.</p>
        <h3>How do I add a new species that doesn't yet exist in the Game Master, or add stats for a
            species currently missing them, or release an unreleased species?</h3>
        <p>This feature is on the roadmap, but has not yet been implemented.</p>
    </div>
</details>
<details class="card article">
    <summary class="card-header">
        <div class="card-title">Ideas, Suggestions, and Bug Reports</div>
    </summary>
    <div class="card-body">
        <h3>Why doesn't _______ do _______?</h3>
        <p>Sometimes there's a good reason a feature isn't implemented - a few of these are already
            explained elsewhere in this FAQ. But often, the real reason is "because nobody has suggested
            it yet." Development is still active, so if you have a new idea or find something that isn't
            behaving correctly, please reach out via one of the methods listed in the "Contact" page.</p>
    </div>
</details>