<div id=strongest-links class="unselectable type-links">
    <ul id="strongest-links-types">
        <li>&nbsp;</li>
        <li id="any-type-strongest-link"><a class="type-text" href="/?strongest" onclick="return LoadStrongestAndUpdateURL('Any')">All types</a></li>
        <li id="each-type-strongest-link"><a class="type-text" href="/?strongest&t=Each" onclick="return LoadStrongestAndUpdateURL('Each')">Each type</a></li>
        <li>&nbsp;</li>
        <li><a class="type-text bg-Normal" href="/?strongest&t=Normal" onclick="return LoadStrongestAndUpdateURL('Normal')">Normal</a></li>
        <li><a class="type-text bg-Fire" href="/?strongest&t=Fire" onclick="return LoadStrongestAndUpdateURL('Fire')">Fire</a></li>
        <li><a class="type-text bg-Water" href="/?strongest&t=Water" onclick="return LoadStrongestAndUpdateURL('Water')">Water</a></li>
        <li><a class="type-text bg-Grass" href="/?strongest&t=Grass" onclick="return LoadStrongestAndUpdateURL('Grass')">Grass</a></li>
        <li><a class="type-text bg-Electric" href="/?strongest&t=Electric" onclick="return LoadStrongestAndUpdateURL('Electric')">Electric</a></li>
        <li><a class="type-text bg-Ice" href="/?strongest&t=Ice" onclick="return LoadStrongestAndUpdateURL('Ice')">Ice</a></li>
        <li><a class="type-text bg-Fighting" href="/?strongest&t=Fighting" onclick="return LoadStrongestAndUpdateURL('Fighting')">Fighting</a></li>
        <li><a class="type-text bg-Poison" href="/?strongest&t=Poison" onclick="return LoadStrongestAndUpdateURL('Poison')">Poison</a></li>
        <li><a class="type-text bg-Ground" href="/?strongest&t=Ground" onclick="return LoadStrongestAndUpdateURL('Ground')">Ground</a></li>
        <li><a class="type-text bg-Flying" href="/?strongest&t=Flying" onclick="return LoadStrongestAndUpdateURL('Flying')">Flying</a></li>
        <li><a class="type-text bg-Psychic" href="/?strongest&t=Psychic" onclick="return LoadStrongestAndUpdateURL('Psychic')">Psychic</a></li>
        <li><a class="type-text bg-Bug" href="/?strongest&t=Bug" onclick="return LoadStrongestAndUpdateURL('Bug')">Bug</a></li>
        <li><a class="type-text bg-Rock" href="/?strongest&t=Rock" onclick="return LoadStrongestAndUpdateURL('Rock')">Rock</a></li>
        <li><a class="type-text bg-Ghost" href="/?strongest&t=Ghost" onclick="return LoadStrongestAndUpdateURL('Ghost')">Ghost</a></li>
        <li><a class="type-text bg-Dragon" href="/?strongest&t=Dragon" onclick="return LoadStrongestAndUpdateURL('Dragon')">Dragon</a></li>
        <li><a class="type-text bg-Dark" href="/?strongest&t=Dark" onclick="return LoadStrongestAndUpdateURL('Dark')">Dark</a></li>
        <li><a class="type-text bg-Steel" href="/?strongest&t=Steel" onclick="return LoadStrongestAndUpdateURL('Steel')">Steel</a></li>
        <li><a class="type-text bg-Fairy" href="/?strongest&t=Fairy" onclick="return LoadStrongestAndUpdateURL('Fairy')">Fairy</a></li>
    </ul>
</div>
<div class="card">
    <div id=strongest-header class="card-header">
        <div class="card-title" style="padding: 0.5rem 3rem">
            <span class="desktop" data-i18n="strongest.title.long">Strongest </span><span class="mobile">Top </span>
            <span id="strongest-type-title"></span>
            <input type='checkbox' class='toggling' value='versus' id='chk-versus' unchecked>
            <label class='togglebutton' for='chk-versus'>
                <div class='action'>
                    <span class='option-1'>Attackers</span>
                    <span class='option-2'>Counters</span>
                </div>
            </label>
            <span id="strongest-title-suffix"></span>
        </div>
        <div class="absolute-right row">
            <div class="drawer v-middle" id="search-string-icon">
                <img class="drawer-icon" src="imgs/search-string.svg" alt="Magnifying glass button to open search string generator" />
            </div> 
            <div class="drawer v-middle">
                <img class="drawer-icon" src="imgs/filter.svg" alt="Funnel button to open filter and display options" />
                <div id=strongest-filters class="drawer-popup"></div>
            </div> 
        </div>
    </div>
    <div class="card-body" id="strongest-scroller">
        <table class="table-bg" id=strongest-table>
            <tbody></tbody>
        </table>
    </div>
    <div class="card-footer">
        <ul class="footnotes">
            <li id=footnote-elite>* Elite fast or charged move</li>
            <li id=footnote-typed-ranking>Typed rankings are calculated using super-effective damage for the chosen type, and neutral damage for all other types.</li>
            <li id=footnote-versus>"Versus" rankings are calculated using appropriate effectiveness multiplier for attacking damage.
                <!--<br />Versus rankings also assume incoming damage is of the chosen type, and apply relevant defensive multipliers.-->
            </li>
            <li id=footnote-affinity-ranking>Rankings are calculated based on an 
                <a href="#" class="tooltip tooltip-top" id="type-affinity-link">average of all raid bosses
                    <div class="tooltiptext" id="type-affinity-tooltip">
                        <table id="affinity-table">
                            <thead><tr><th></th><th style='width: 100px'>Boss Weakness</th><th  style='width: 100px'>Boss Damage</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </a>
                matching the scenario.</li>
        </ul>
    </div>
</div>